<h4>Active EWO List</h4>
<!-- loading spinner -->
<div class="spinner-border text-info mx-auto" role="status" *ngIf="isLoading">
  <span class="sr-only">Loading...</span>
</div>
<ul class="list-inline">
  <li class="list-inline-item mr-3"> Total: <strong>{{ewos.length}}</strong></li>
  <li class="list-inline-item mr-3"> Active: <strong class="red">{{activeEWOs}}</strong></li>
  <li class="list-inline-item mr-3"> Closed: <strong class="green">{{closedEWOs}}</strong></li>
  <li  class="list-inline-item float-right">Show per page:
    <select class="form-control">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
      <option value="30">30</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
  </li>
</ul>


<!-- {{activeEWOs}} -->

<nav>
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
<!-- show if not loading and greater than 0 -->
<div *ngIf="ewos.length > 0 && !isLoading">
  <table class="table table-hover">
    <thead>
      <tr>
        <!-- <th scope="col">EWO #</th> -->
        <!-- <th scope="col">Engineer</th> -->
        <th>Initiator</th>
        <th>EWO Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Details</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ewo of ewos">
        <!-- <td>{{ewo.ewoId}}</td> -->
        <!-- <td>{{ewo.userId}}</td> -->
        <td>{{ewo.starter}}</td>
        <td>{{ewo.title}}</td>
        <td>{{ewo.descript}}</td>
        <td>{{ewo.status}}</td>
        <td>
          <a class="btn btn-primary" [routerLink]="['/detail', ewo._id]">
            <i class="far fa-edit"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>



</div>

<div *ngIf="ewos.length <= 0">
  <p class="text-center"><strong class="text-danger">No Active EWOs</strong></p>
</div>
