<h4>Active EWO List</h4>
<div *ngIf="ewos.length > 0">
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <!-- <th scope="col">EWO #</th> -->
          <!-- <th scope="col">Engineer</th> -->
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ewo of ewos">
          <!-- <td>{{ewo.ewoId}}</td> -->
          <!-- <td>{{ewo.userId}}</td> -->
          <td>{{ewo.title}}</td>
          <td>{{ewo.descript}}</td>
          <td>{{ewo.status}}</td>
          <td><button class="btn btn-primary disabled"><i class="far fa-edit"></i></button></td>
          <td><button class="btn btn-danger disabled"><i class="far fa-trash-alt"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="ewos.length <= 0">
  <p class="text-center"><strong class="text-danger">No Active EWOs</strong></p>

</div>

<!-- <p>Click on EWO in the list above to see details below.</p>

<app-ewo-detail></app-ewo-detail> -->
