<h3>EWO Details</h3>
<h5>EWO #: <span class="orange">{{ewo?.ewoid}}</span></h5>

<div class="row mt-3">

  <div class="col-sm">
    <h5>User Input</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong class="mr-3"> Start Date: </strong>
        <span class="data float-right">{{ewo?.startDate}} </span>
      </li>
      <li class="list-group-item">
        <strong class="mr-3"> Initiator: </strong>
        <span class="data float-right"> {{ewo?.starter}} </span>
      </li>
      <li class="list-group-item">
        <strong class="mr-3"> Department / Team: </strong>
        <span class="data float-right"> {{ewo?.team}} </span>
      </li>
      <li class="list-group-item">
        <strong class="mr-3"> Last Updated: </strong>
        <span class="data float-right"> {{ewo?.lastupdated}} </span>
      </li>
    </ul>

    <!--
      <div class="mt-3 file rounded">
      <h6>Uploaded  File</h6>
      <div class="border p-3">
        <a href="{{ewo?.imagePath}}" class="fluid "> {{ ewo?.title}}</a>
       <img src="{{ewo.imagePath}}" [alt]="ewoUpdateForm.value.title" class="fluid ">
      </div>
    </div>-->
  </div>


  <div class="col-sm">
    <h5>Engineering Info</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong class="mr-3"> Request Type: </strong>
        <span class="data float-right"> {{ewo?.reqtype}} </span>
      </li>
      <li class="list-group-item">
        <strong class="mr-3"> Customer Name: </strong>
        <span class="data float-right"> {{ewo?.custName}} </span>
      </li>
      <li class="list-group-item">
        <strong class="mr-3"> Customer Contact: </strong>
        <span class="data float-right"> {{ewo?.custContact}} </span>
      </li>
      <li class="list-group-item">
        <strong class="mr-3"> Need by Date: </strong>
        <span class="data float-right"> {{ewo?.needDate}} </span>
      </li>
      <li class="list-group-item">
        <strong class="mr-3"> Part Number: </strong>
        <span class="data float-right"> {{ewo?.partNum}} </span>
      </li>
      <li class="list-group-item">
        <strong class="mr-3"> Priority <small class="blue">(1=low - 5=high)</small>: </strong>
        <span class="data float-right"> {{ewo?.priority}} </span>
      </li>
      <li class="list-group-item">
        <strong class="mr-3"> Assignment: </strong>
        <span class="data float-right"> {{ewo?.assignment}} </span>
      </li>

      <li class="list-group-item">
        <strong class="mr-3"> Hours: </strong>
        <span class="data float-right">{{ewo?.hours}} </span>
      </li>
      <li class="list-group-item">
        <strong class="mr-3"> Status: </strong>
        <span class="data float-right"> {{ewo?.status}} </span>
      </li>
    </ul>
  </div>

  <div class="col-sm">
    <h5>Purchasing Info</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong class="mr-3"> Economic Order Quantity <small class="blue">(EOQ)</small>: </strong>
        <span class="data float-right"> {{ewo?.eoq}}</span>
      </li>
      <li class="list-group-item">
        <strong class="mr-3"> Annual Sales Quantity <small class="blue">(ASQ)</small>: </strong>
        <span class="data float-right"> {{ewo?.asq}} </span>
      </li>
      <li class="list-group-item">
        <strong class="mr-3"> Min Order Quantity <small class="blue">(MOQ)</small>: </strong>
        <span class="data float-right">{{ewo?.moq}} </span>
      </li>
      <li class="list-group-item">
        <strong class="mr-3"> Order Quantity Purchased <small class="blue">(OQP)</small>: </strong>
        <span class="data float-right">{{ewo?.oqp}} </span>
      </li>
      <li class="list-group-item">
        <strong class="mr-3"> Vender Number: </strong>
        <span class="data float-right">{{ewo?.vendnum}} </span>
      </li>
      <li class="list-group-item">
        <strong class="mr-3"> Lead Time: </strong>
        <span class="data float-right">{{ewo?.leadtime}} </span>
      </li>
    </ul>
  </div>

  <div class="col-12 mt-5">
    <h5>EWO info</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong class="mr-3"> Title: </strong>
        <span class="">{{ewo?.title}} </span>
      </li>
      <li class="list-group-item">
        <strong class="mr-3"> Description: </strong>
        <span class="">{{ewo?.descript}} </span>
      </li>
    </ul>
  </div>

  <div class="col-12">

  </div>

</div>


<!-- eng update form -->
<div *ngIf="userIsAuthenticated">
  <form class="mt-5 mb-5" *ngIf="ewo" (submit)="onUpdateEwo()" [formGroup]="ewoUpdateForm">
    <div class="row bg border p-3 rounded">
      <h6>Engineering Update Section</h6>

      <!-- timestamp -->
      <div class="col-12">
        <p>Timestamp: {{timestamp | date}}</p>
        <input type="hidden" formControlName="lastupdated" />
      </div>

      <!-- assignment -->
      <div class="form-group col">
        <label for="status">Assignment: </label>
        <select class="form-control" formControlName="assignment">
          <option *ngFor="let ass of assignments" value="{{ass.id}}">{{ass.name}}</option>
        </select>
      </div>


      <!-- Status change -->
      <div class="form-group col">
        <label for="status">Status Change </label>
        <select class="form-control" formControlName="status">
          <option *ngFor="let status of statuses" value="{{status.id}}">{{status.name}}</option>
        </select>
      </div>
      <!-- Request type change -->
      <div class="form-group col">
        <label for="status">Request Type Change </label>
        <select class="form-control" formControlName="reqtype">
          <option *ngFor="let req of requests" value="{{req.id}}">{{req.name}}</option>
        </select>
      </div>
      <!-- hours -->
      <div class="form-group col">
        <label for="status">Hours </label>
        <input class="form-control" type="text" formControlName="hours" />
      </div>
      <!-- update EWO Notes -->
      <div class="form-group col-12">
        <label for="status">Update EWO notes to Description </label>
        <textarea class="form-control" rows="4" formControlName="descript"></textarea>
      </div>
      <!-- submit btn -->
      <div class="form-group col-12">
        <button class="btn btn-primary" type="submit">Update EWO</button>
      </div>

    </div>
  </form>
</div>
