@import '../../../styles.scss';

li {
  strong {
    color: $gray;

  }

  span.data {
    color: $gray !important;

    &:hover {
      color: $orange !important;
    }
  }

}
.bg {
  background-color: #99badd;
}
.file {
  border: solid 2px #99badd;
  background-color: rgba(153, 186, 221,.30);
  padding: .5em;
}
