<h3>Log in to continue</h3>
<form (submit)="onLogin(loginForm)" #loginForm="ngForm">
  <div class="form-group">
    <label for="uname">email address:</label>
    <input type="email" class="form-control" name="uname" ngModel #unameInput="ngModel" required email placeholder="Enter uname">
    <!-- validation -->
    <div class="red pl-5" *ngIf="unameInput.invalid && unameInput.touched">
      a valid email must be entered
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password:</label>
    <input type="password" class="form-control" name="pw" ngModel #pwInput="ngModel" placeholder="Password" required>
    <!-- validation -->
    <div class="red pl-5" *ngIf="pwInput.invalid && pwInput.touched">
      Please enter a valid username or password
    </div>
  </div>
  <button type="submit" class="btn btn-primary mt-5">Submit</button>
</form>
