<h4> {{ mode | titlecase }} an EWO </h4>
<form class="mb-5" (submit)="onSaveEwo(ewoForm)" #ewoForm="ngForm">

  <div class="form-group">
    <label for="input_title">EWO Title: </label>
    <input class="form-control" type="text" name="title" [ngModel]="ewo?.title" required minlength="3" placeholder=" What we calling it?"
      #title="ngModel">
    <div *ngIf="title.errors">
      <p class="invalid-feedback"> Need a title</p>
    </div>
  </div>

  <div class="form-group">
    <label for="input_descript">Description of Project: </label>
    <textarea class="form-control" rows="4" name="descript" [ngModel]="ewo?.descript" required placeholder="What we doing?"
      #descript="ngModel"></textarea>
    <div *ngIf="descript.errors" class="invalid-feedback"> Need some input </div>
  </div>

  <div class="form-group">
    <label for="status">Status: </label>
    <select class="form-control" name="status" [ngModel]="ewo?.status">
      <option selected>Update Status</option>
      <option value="active">Active</option>
      <option value="closed">Closed</option>
      <option value="hold">Hold</option>
    </select>
  </div>

  <div class="form-group">
    <button class="btn btn-primary" type="submit"> {{btnTxt}} </button>
  </div>
</form>
