<h2 class="mb-5">Administration View</h2>
<app-user-list></app-user-list>
<app-create-user></app-create-user>


<!-- <code>
  Form touched: {{ userForm.touched }}<br />
  Form dirty:{{ userForm.dirty }}<br />
  Form Valid: {{ userForm.dirty }}<br />
  Form Values: {{ userForm.value | json }}<br />
  <hr />
  pwConfirm touched: {{ userForm.get('pwConfirm').touched }}<br />
  pwConfirm dirty: {{ userForm.get('pwConfirm').dirty }}<br />
  pwConfirm Valid: {{ userForm.get('pwConfirm').valid }}<br />
  pwConfirm Values: {{ userForm.get('pwConfirm').value }}<br />
</code>
 -->
