<footer class="fixed-bottom pl-5">
  <span class="pb-5">This App is made with:</span>
  <ul class="list-inline ">
    <li class="list-inline-item">
      <i class="fab fa-html5 fa-2x align-middle orange "></i>
    </li>
    <li class="list-inline-item">
      <i class="fab fa-sass fa-2x align-middle pink"></i>
    </li>
    <li class="list-inline-item">
      <i class="fab fa-angular fa-2x align-middle blue"></i>
    </li>
    <li class="list-inline-item">
      and a lot of
      <i class="fas fa-heart  align-middle red"></i> from Jay Rich
    </li>
  </ul>
</footer>
