
/* You can add global styles to this file, and also import other style files */
$pink: rgb(255, 0, 242);
$orange: rgb(255, 123, 0);
$gray: rgb(75, 75, 75);
$blue: #003cb4;
$red: #f90303;
$black: #000000;
$green: #135e00;
/* You can add global styles to this file, and also import other style files */

// colors
.red {
  color: $red;
}
.pink {
  color: $pink;
}
.green {
  color: $green;
}
.orange {
  color: $orange;
}
.lt-orange {
  color: lighten($orange, 10%);
}
.dk-orange {
  color: darken($orange, 10%);
}

.blue {
  color: $blue;
}
.lt-blue {
  color:lighten($blue, 10%);
}
.dk-blue {
  color:darken($blue, 10%);
}
.gray {
  color: $gray;
}
.lt-gray {
  color: lighten($gray, 10%);
}
.dk-gray {
  color: darken($gray, 10%);
}
.info {
  color: rgb(0, 153, 255);
}

header {
  h1 {
    font-size: 2rem;
    color: $black;

    small {
      font-size: .8rem;
    }
  }

  h3 {
    color: $blue;
  }

  .smalltxt {
    font-size: 1rem;
    font-weight: 100;
    color: rgb(99, 99, 99);
    display: inline;
  }
}

footer {
  border-top: 1px solid #ccc;
  padding-top: 1rem;
  .stack {
    max-height: 5rem;
  }
}

li {
  span {
    .data {
      color: green !important;

      &:hover {
        color: red;
      }
    }
  }
}

// forms
.system {
  border: 1px solid rgb(0, 221, 250);
  border-radius: .3rem;
  padding: 1rem;
}

.required {
  border: 1px solid rgb(255, 0, 0);
  border-radius: .3rem;
  padding: 1rem;
}

.optional {
  border: 1px solid $gray;
  border-radius: .3rem;
  padding: 1rem;
}

.report {
  padding: 1rem;
  background-color: #f2f2f2;
  border: 1pt solid $gray;
  border-radius: .5rem;
}
