<h3>EWO <span class="orange">{{ewo._id}}</span>Details</h3>

<div class="row mt-3">

  <div class="col">
    <h5>User Input</h5>
    <p>Start Date: <span class="orange"> {{ewo.startDate}} </span></p>
    <p>Initiator: <span class="orange"> {{ewo.starter}} </span></p>
    <p>Department / Team: <span class="orange"> {{ewo.team}} </span></p>
    <p>Request Type: <span class="orange"> {{ewo.request}} </span></p>
    <p>Priority: <span class="orange"> {{ewo.priority}} </span></p>
    <p>Request Type: <span class="orange"> {{ewo.request}} </span></p>
    <p>Request Type: <span class="orange"> {{ewo.request}} </span></p>
    <p>Request Type: <span class="orange"> {{ewo.request}} </span></p>
  </div>

  <div class="col">
    <h5>Purchasing Info</h5>
    <p>Outsourced (T/F): <span class="orange"> {{ewo.outsourced}} </span></p>
    <p>conomic Order Quantity: <span class="orange"> {{ewo.eoq}} </span></p>
    <p>Annual SSales Quantity: <span class="orange"> {{ewo.as}} </span></p>
    <p>Min Order Quantity: <span class="orange"> {{ewo.moq}} </span></p>
    <p>Order Quantity Purchased: <span class="orange"> {{ewo.oqp}} </span></p>
    <p>Vender Number : <span class="orange"> {{ewo.vendnum}} </span></p>
    <p>Lead Time: <span class="orange"> {{ewo.leadtime}} </span></p>
  </div>

  <div class="col">
    <h5>Engineering Info</h5>
    <p>Status: <span class="orange"> {{ewo.status}} </span></p>
  </div>

  <div class="col-12 mt-5">
    <h5>EWO info</h5>
    <h6> Title: {{ewo.title}}</h6>
    <label>Description: </label>
    <p>{{ewo.descript}}</p>
  </div>

</div>

