<h3>EWO Details</h3>
<h5>EWO #: <span class="orange">{{ewo._id}}</span></h5>

<div class="row mt-3">

  <div class="col">
    <h5>User Input</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Start Date: {{ewo.startDate}} </li>
      <li class="list-group-item">Initiator: {{ewo.starter}} </li>
      <li class="list-group-item">Department / Team: {{ewo.team}} </li>
    </ul>
  </div>

  <div class="col">
    <h5>Engineering Info</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Request Type: {{ewo.reqtype}} </li>
      <li class="list-group-item">Priority <small class="orange">(1=low - 5=high)</small>: {{ewo.priority}} </li>
      <li class="list-group-item">Status: {{ewo.status}} </li>
    </ul>
  </div>

  <div class="col">
    <h5>Purchasing Info</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Economic Order Quantity <small class="orange">(EOQ)</small>: {{ewo.eoq}} </li>
      <li class="list-group-item">Annual Sales Quantity <small class="orange">(ASQ)</small>: {{ewo.asq}} </li>
      <li class="list-group-item">Min Order Quantity <small class="orange">(MOQ)</small>: {{ewo.moq}}</li>
      <li class="list-group-item">Order Quantity Purchased <small class="orange">(OQP)</small>: {{ewo.oqp}}</li>
      <li class="list-group-item">Vender Number: {{ewo.vendnum}}</li>
      <li class="list-group-item">Lead Time: {{ewo.leadtime}}</li>
    </ul>
  </div>

  <div class="col-12 mt-5">
    <h5>EWO info</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Title: {{ewo.title}}</li>
      <li class="list-group-item">Description: {{ewo.descript}}</li>
    </ul>
  </div>

</div>
<code>{{ewo | json}}</code>
