@import '../../../../styles.scss';

li {
  strong {
    color: $gray;

  }

  span.data {
    color: $gray !important;

    &:hover {
      color: $orange !important;
    }
  }

}
.bg {
  background-color: #f2f2f2;
}
