<h3>EWO Details</h3>
<h5>EWO #: <span class="orange">{{ewo._id}}</span></h5>

<div class="row mt-3">

  <div class="col">
    <h5>User Input</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Start Date: {{ewo.startDate}} </li>
      <li class="list-group-item">Initiator: {{ewo.starter}} </li>
      <li class="list-group-item">Department / Team: {{ewo.team}} </li>
      <li class="list-group-item" >Request Type:  {{ewo.reqtype}} </li>
    </ul>
    <!--
    <li class="list-group-item" >Priority:  {{ewo.priority}} </li>
    <li class="list-group-item" >Request Type:  {{ewo.request}} </li>
    <li class="list-group-item" >Request Type:  {{ewo.request}} </li>
    <li class="list-group-item" >Request Type:  {{ewo.request}} </li>
  </div>

  <div class="col">
    <h5>Purchasing Info</h5>
    <p>Outsourced (T/F):  {{ewo.outsourced}} </p>
    <p>conomic Order Quantity:  {{ewo.eoq}} </p>
    <p>Annual SSales Quantity:  {{ewo.as}} </p>
    <p>Min Order Quantity:  {{ewo.moq}} </p>
    <p>Order Quantity Purchased:  {{ewo.oqp}} </p>
    <p>Vender Number :  {{ewo.vendnum}} </p>
    <p>Lead Time:  {{ewo.leadtime}} </p> -->
  </div>

  <div class="col">
    <h5>Engineering Info</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Status: {{ewo.status}} </li>
    </ul>
  </div>

  <div class="col-12 mt-5">
    <h5>EWO info</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Title: {{ewo.title}}</li>
      <li class="list-group-item">Description: {{ewo.descript}}</li>
    </ul>
  </div>

</div>
