<div class="d-flex mt-3 bg">
  <div class="flex-fill">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['ewos']" routerLinkActive="router-link-active">EWOs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['create']" routerLinkActive="router-link-active">New EWOs</a>
      </li>
      <li class="nav-item" *ngIf="userIsAuthenticated">
        <a class="nav-link active" [routerLink]="['eng']" routerLinkActive="router-link-active">Edit EWO EWOs</a>
      </li>
    </ul>
  </div>
  <div class="flex">
    <!-- if logged out -->
    <div *ngIf="!userIsAuthenticated">
      <a class="btn btn-outline-dark btn-sm float-right" [routerLink]="['/eng']">Engineering Log In</a>
    </div>
    <!-- if logged in -->
    <div *ngIf="userIsAuthenticated">
      <button class="btn btn-outline-dark btn-sm float-right" (click)="onLogout()">Engineering Log Out</button>
    </div>
  </div>

</div>
